<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-landing.css">
    <link rel="stylesheet" href="/css/dark-mode.css">
    <link rel="icon" href="/images/logo-face.svg">

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    <title>Happy</title>
</head>

<body>
    <div id="page-landing">
        <div id="container">
            <header>

                <img class="animate-up" id="logo-face" src="/images/logo-face.svg" alt="Logomarca de Happy">
                <img class="animate-up" id="logo-happy" src="/images/logo-happy.svg" alt="Logomarca de Happy">

                <div class="location animate-up">
                    <div class="toggle">
                        <input type="checkbox" name="theme" id="switch">
                        <label for="switch"></label>
                    </div>
                    <strong>Goiânia</strong>
                    <p>Goiás</p>
                </div>

            </header>

            <main>
                <h1 class="animate-up">Leve felicidade para o mundo</h1>
                <section class="visit">
                    <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>

                    <a href="/orphanages" title="Visite orfanatos" class="animate-up">
                        <img src="/images/arrow.svg" alt="Ir para o mapa" class="btn-grad">
                    </a>
                </section>
            </main>
        </div>
    </div>
    <script src="/scripts/dark-mode.js"></script>
</body>

</html>